<ion-view view-title="{{chat.name}}">
    <ion-content class="bg-style padding">
        <div class="detail-content">
            <label class="item item-input">
                <span class="input-label">姓名</span>
                <input type="text" value = "{{chat.name}}">
            </label>
            <label class="item item-input">
                <span class="input-label">日期</span>
                <input type="date" value = '2015-11-10'>
            </label>
            <label class="item item-input">
                <span class="input-label">科室</span>
                <input type="number" value = 1>
            </label>
            <label class="item item-input">
                <span class="input-label">床号</span>
                <input type="number" value = 203>
            </label>
            <label class="item item-input">
                <span class="input-label">登记号</span>
                <input type="number" value = 1234566>
            </label>
            <br/>
            <div class="row">
                <div class="patient-detail-source col" ng-click="showSubDetail_1()">
                    <div style="height:40px ;text-align: center">Braden压疮危险评估</div>
                    <div style="height:40px ;text-align: center;font-size:40px ">80</div>
                </div>
                <div class=" patient-detail-source col" ng-click="showSubDetail_2()">
                    <div style="height:40px ;text-align: center">MORSE跌倒评估</div>
                    <div style="height:40px ;text-align: center;font-size:40px;color:red ">59</div>
                </div>
                <div class=" patient-detail-source col" ng-click="showSubDetail_3()">
                    <div style="height:40px ;text-align: center">营养风险筛查</div>
                    <div style="height:40px ;text-align: center;font-size:40px ">77</div>
                </div>
            </div>
        </div>
        <div class="submit-button">
            <button class="fix button button-positive" ng-click="showAlert()">
                提 交
            </button>
        </div>
        </div>
    </ion-content>
</ion-view>
