<ion-view view-title="Braden压疮危险评估表">
    <ion-content class="bg-style padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    感    觉
                </div>
                <select>
                    <option>完全丧失</option>
                    <option>严重丧失</option>
                    <option>轻度丧失</option>
                    <option selected>未受损害</option>
                </select>
            </label>
        </div>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    潮    湿
                </div>
                <select>
                    <option>持久潮湿</option>
                    <option>非常潮湿</option>
                    <option>有时潮湿</option>
                    <option selected>很少潮湿</option>
                </select>
            </label>
        </div>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    活 动 力
                </div>
                <select>
                    <option>限制卧床</option>
                    <option>可坐椅子</option>
                    <option>偶尔行走</option>
                    <option selected>经常行走</option>
                </select>
            </label>
        </div>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    移 动 力
                </div>
                <select>
                    <option>完全无移动</option>
                    <option>严重受限</option>
                    <option>轻度受限</option>
                    <option selected>未受限</option>
                </select>
            </label>
        </div>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    营    养
                </div>
                <select>
                    <option>非常差</option>
                    <option>可能不足</option>
                    <option>足够</option>
                    <option selected>非常好</option>
                </select>
            </label>
        </div>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    摩擦力、剪切力
                </div>
                <select>
                    <option>有问题</option>
                    <option>有潜在问题</option>
                    <option selected>无明显问题</option>
                </select>
            </label>
        </div>
        </ion-content>
    </ion-view>