<ion-view view-title="我的账号">
  <ion-content class="bg-style">
    <ion-list>
    <label class="item item-input">
                <span class="input-label">用户名</span>
                <input type="text" >
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="password" >
            </label>
    <ion-toggle  ng-model="settings.enableAccount">
        激活账号
    </ion-toggle>
    </ion-list>
    <ion-list>
      <ion-toggle  ng-model="settings.resetPassword">
        密码重设
      </ion-toggle>
      </ion-list>
  </ion-content>
</ion-view>