/* Empty. Add your own CSS if you like */
.toggle-label {
    float: left;
    width: 80%;
    margin-left: 4.8%;
}

.toggle-button {
    float: right;
}

.list-label {
    margin-top: 3%;
    padding-left: 5%;
    background-color: white;
}

.detail-content {
}

.toggle-div {
    overflow: hidden;
    border-bottom-color: #DBDBB7;
    border-bottom: 1px;
    border-bottom-style: groove;
    height: 0%;
    padding-bottom: 2%;
    background: white;
    padding-top: 2%;
}

.close-notification {
    float: right;
    background-color: #f5f5f5;
    height: 2.5em;
    width: 2.8%;
    padding-top: 1%;
    border-bottom-color: #ddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.close-title {
    width: 97.2%;
    float: left;
}

.bg-style {
    background-image: url("../img/main_bg.jpg");
}

.fix {
    width: 50%;
}

.submit-button {
    margin-left: 35%
}

.patient-detail-source {
    border:1px solid;
    border-color: #009689;
    height: 10%;
    border-radius: 14px ;
    background-color : #ffffff
}
.patient-table-row {
    height:2em ;text-align: center;margin-top: 0.1em;margin-bottom: 0.1em;
}
.patient-table-col {
    height:4em
}

.patient-table-input {
    height: 1.3em !important;
    width: 2em;
    text-align: center;
    font-size: 3em  !important;
    margin-left: 2em;
}

.patient-list-source {
width: 3em;
height: 2em !important;
text-align: center;
background-color: #E0FFFF;
border:1px solid;
border-color: #E0FFFF;
border-radius: 14px ;
float: right;
margin-top: -1.5em;
margin-left: 0.6em;
}
.patient-list-title {
width: 3em;
height: 2em !important;
text-align: center;
float: right;
margin-right: 0.6em;
}

.attention {
    border-color: #F0FFF0;
    background-color: #F0FFF0;
}
.save-button {
    background-color: lightblue !important;
}
.delete-button {
    background-color: red !important;
}

